nav {
    background: #ccc;
}

h1 {
    text-align: center;
}

.category-row {
    display: grid;
    grid-template-rows: 200px 200px 200px 200px;
    grid-template-columns: 200px 200px 200px 200px 200px 200px;
}
