nav {
    background: #ccc;
}

h1 {
    text-align: center;
}

.category-row {
    display: grid;
    grid-template-rows: 50px;
    grid-template-columns: 200px 200px 200px 200px 200px 200px;
    
}

.even-color {
    background-color: #555;
}

.odd-color {
    background-color: #ccc;
}
